{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>Hello World!</h1>
    <p>I'm "{{ name }}" and my random number is "{{ randomNumber }}" and shop name "{{ shop }}".</p><br />
{% endblock %}